<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251458740468-84cg4gkcbrmrdlacqu6068qjqrg7r454.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251458740468-84cg4gkcbrmrdlacqu6068qjqrg7r454</string>
	<key>API_KEY</key>
	<string>AIzaSyAwfhBH4ideFy78YvcwHTDOtYU71S4ytwg</string>
	<key>GCM_SENDER_ID</key>
	<string>251458740468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.dquispe.ios.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-fa7a9</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-fa7a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251458740468:ios:21e6b355ee5f8ad0033ea1</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-fa7a9.firebaseio.com</string>
</dict>
</plist>